.parallax {
  background-color: #185899;
  background-image: url(images/startup.png), url(images/mars2.jpg);
  background-position: 120px 520px, center -20px;
  background-attachment: fixed, fixed;
  background-size: 100px 100px, cover;
  background-repeat: no-repeat, no-repeat;
  color: hsl(0, 0%, 100%);
  padding: 180px;
}
.bg-light {
  background-color: white;
}

header .btn {
  border: solid 2px;
  font-weight: 600;
}
/* 
.stiky {
  position: fixed;
  width: 100%;
  z-index: 9999;
} */

.slideanim {
  visibility: hidden;
}

.slide {
  animation-name: slide;
  animation-duration: 1s;
  visibility: visible;
}

@keyframes slide {
  0% {
    opacity: 0; /*прозрачность*/
    transform: translateY(70%); /*смещение по оси Y*/
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
